default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix
        language: system
        stages: [pre-commit]
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        stages: [pre-commit]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        stages: [pre-commit]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: pytest
        language: system
        stages: [pre-commit]
        pass_filenames: false

      - id: update-commit-message
        name: Update commit message with Jira issue number
        entry: python .pre-commit/hook.py
        language: system
        stages: [commit-msg]
